.persona__imagens--pokebola {
    position: absolute;
    width: 71px;
    height: 71px;
    background-image: url(../../img/pokebola.png);
    background-size: contain;
    margin-left: 122px;
    margin-top: 366px;
}