.horaDeComecar__titulo {
    clear: both;
    color: #150035;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    position: relative;
    text-align: center;
    top: 133px;
}