.horaDeComecar__titulo {
    color: #150035;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 115px; /*110*/
    text-align: center;
}