.horaDeComecar__pokemonMonitor {
    background-image: url(../../img/pokemonMonitor.png);
    background-position: center;
    background-size: contain;
    height: 322px;
    margin: 0 auto;
    margin-bottom: 135px;
    margin-top: 73px;
    text-align: center;
    width: 618px;
}