.horaDeComecar__descricao {
    clear: both;
    color: #220F71;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    position: relative;
    top: 162px;
    width: 921px;
    height: 46px;
    margin: auto;
    text-align: center;
}