@media screen and (min-width: 0) {
    .dados{
        color: #150035;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        padding: 3rem 2rem 2rem 2rem;
    }
}
@media screen and (min-width: 768px) {
    .dados{
        padding: 3rem 4rem 2rem 4rem;
    }
}
@media screen and (min-width: 1024px) {
    .dados{
        display: flex;
        justify-content: center;
        padding: 3rem 0 2rem 0;
    }
}